/*==============shouye================*/
.qita {
  width: 36%;
  text-align: center;
  height: 32px;
  background: #fff;
  line-height: 32px;
  color: #9c9c9c;
  font-size: 16px;
  position: absolute;
  bottom: 15%;
  left: 50%;
  margin-left: -18%; }

.chong {
  display: inline-block;
  width: 72px;
  height: 27px;
  background: #eee;
  color: #9c9c9c;
  text-align: center;
  line-height: 27px;
  border-radius: 13px;
  font-size: 10px; }

/*==================yanzheng================*/
.tuyan {
  position: relative; }
  .tuyan img {
    display: inline-block;
    width: 63px;
    height: 21px; }
  .tuyan small {
    position: absolute;
    font-size: 10px;
    color: #698be3;
    bottom: 0px;
    left: 0; }

/*==============bang============*/
.wenzi {
  width: 100%;
  color: #b6b6b6; }
  .wenzi h2 {
    font-size: 14px;
    height: 30px;
    line-height: 30px; }
  .wenzi .ul-wen {
    padding-left: 20px; }
    .wenzi .ul-wen li {
      position: relative; }
      .wenzi .ul-wen li .biao {
        width: 12px;
        height: 10px;
        display: block;
        position: absolute;
        left: -20px;
        top: 10px; }
      .wenzi .ul-wen li h3 {
        font-size: 13px;
        line-height: 30px;
        height: 30px; }
      .wenzi .ul-wen li p {
        line-height: 25px;
        font-size: 13px; }

/*============ruwang==========*/
.mainer {
  width: 100%;
  height: 100%;
  background: #eee; }

.ru-jin {
  width: 100%;
  height: 20%;
  background: #fff;
  margin-bottom: 8px; }

.tu_xing {
  width: 100%;
  padding: 0 10%;
  height: 60%;
  color: #515151;
  background: #fff; }
  .tu_xing h2 {
    height: 40px;
    line-height: 40px; }
  .tu_xing .ru_ul {
    width: 100%;
    height: auto; }
    .tu_xing .ru_ul li {
      font-size: 14px;
      width: 100%;
      height: 35px;
      line-height: 35px; }
      .tu_xing .ru_ul li span {
        float: right;
        color: #9c9c9c;
        margin-top: 8px; }
      .tu_xing .ru_ul li .span_light {
        color: #515151; }
  .tu_xing h3 {
    height: 50px;
    border-top: 1px solid #eee;
    line-height: 50px; }
    .tu_xing h3 span {
      float: right;
      margin-top: 18px; }

.foot {
  height: 20%;
  padding: 10px 10% 0;
  width: 100%; }
  .foot p {
    line-height: 22px;
    font-size: 12px;
    color: #acacac; }

/*==========taocan=========*/
.num-p {
  position: relative; }

.tao_p {
  margin-bottom: 6px !important; }

.tao_wen {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff9743; }

.tao_btn {
  position: absolute;
  top: 15px;
  right: 15px; }

.tao_main {
  width: 100%; }
  .tao_main .sum {
    width: 100%;
    height: 30px;
    font-size: 14px; }
    .tao_main .sum span {
      float: right;
      width: 70px;
      height: 30px;
      background: #5e83e1;
      color: #fff;
      text-align: center;
      line-height: 30px; }

.tao1 {
  width: 100%;
  height: 58px;
  border-radius: 6px;
  color: #dedede;
  border: 1px solid #dedede;
  margin-bottom: 10px;
  font-size: 10px;
  padding-left: 10px; }

.hovercolor {
  border: 1px solid #5e83e1;
  color: #5e83e1; }

.notice {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 12px; }

/*# sourceMappingURL=style.css.map */
